.popup {
  background: white;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed; /* Set to fixed positioning */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000; /* Adjust the z-index to ensure it appears above other content */
}

.popup h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  align-self: flex-start;
}

.popup input,
.popup textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.popup button {
  background-color: #1877f2;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
  align-self: center;
}

.popup button.bg-red-500 {
  background-color: #ed3b3b;
}

.card {
  background: white;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.card h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #1877f2; /* Change the author's name color to a specific one */
}

.card p {
  font-size: 16px;
  line-height: 1.5;
  color: #333; /* Change the text color */
}

.card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add a slight shadow on hover */
  transition: box-shadow 0.2s;
}

.pagination {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 30px; /* Add a bit of padding at the bottom */
}

.page-numbers {
  display: inline-block;
  list-style: none;
  padding: 0;
}

.page-numbers button {
  background: #1877f2;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 2px;
  cursor: pointer;
}

.page-numbers button.active {
  background: #1652a0;
}

.page-numbers button:hover {
  background: #1652a0;
}

.page-numbers button:first-child,
.page-numbers button:last-child {
  margin: 0 5px;
}

.page-numbers button:focus {
  outline: none;
}
